*{
    margin: 0;
    padding: 0;
    font-family: SF Pro Display,sans-serif;
}

.signinform{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
	color: white;
}

.signinform h2{
	margin-left: 20px;
}

.back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.errordiv{
    background: rgb(158, 0, 0);
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.errortex{
    display: inline-block;
    justify-content: center;
    align-items: center;
}


.errordiv p{
    color: white;
    font-size: 20px;
}

.errordiv a{
    color: rgb(207, 164, 247);
    font-size: 20px;
}

.success {
    background: rgb(132, 236, 188);
    width: 400px;
    height: 150px;
    line-height: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 450px;
}


.success p {
    color: black;
    font-size: 20px;  
}

.success a {    
    color: rgb(77, 0, 150);
    font-size: 20px;
}






/* SIGN UP */








section2 .container1{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section2 .container1 .cont {
    color: white;

}

section2 .container1 .cont .formsign-up{
    width: 100%;
    height: 80vh;
    font-size: 20px;
}

section2 .container1 .cont .formsign-up input{
    height: 30px;
    margin-top:30px;
}

section2 .container1 .cont .formsign-up h2, p{
    margin-left: 20px;
}


section2 .container1 .cont .formsign-up .oneofus a{
    text-decoration: none;
    font-size: 20px;
    list-style-type: none;
    color:white;
}

